{% extends "layout.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Homepage' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="/">{% trans 'Home' %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans 'Dashboard' %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Dashboard" %}
{% endblock %}

{% block content %}
{% if not user.is_validated %}
<div class="alert alert-error">
	<span class="error">
	{% trans "Your account still is not validated. You will have limited functionality until your account is validated by the administrators of the site." %}
	</span><br />
	<span class="error">
	{% trans "Please complete all your personal detail in your profile to enter into the validation process." %}
	</span>
</div>
{% endif %}
<div class="span12 well">
	{% if user.is_validated %}
	{% if user.type == "customer" %}
	<div class="span4">
		<h4><a href="{% url 'search:home' %}">{% trans "Search pieces" %}</a></h4>
	</div>
	<div class="span4">
		<h4><a href="{% url 'customer:order-list' %}">{% trans "Search request history" %}</a></h4>
	</div>
	{% endif %}
	{% if user.type == "provider" %}
	<div class="span4">
		<h4><a href="{% url 'search:request-list' %}">{% trans "Active searches from customers" %}</a></h4>
	</div>
	{% endif %}
	{% endif %}
	<div class="span4">
		<h4><a href="{% url 'customer:summary' %}">{% trans "My personal data" %}</a></h4>
	</div>
</div>

{% endblock content %}
