{% load currency_filters %}
{% load i18n %}

<div class="basket-mini pull-right hidden-phone">
    <strong>{% trans "Total items in current search:" %}</strong>
	{{request.basket.num_lines}}

    <span class="btn-group">
        <a class="btn" href="{% url 'basket:summary' %}">{% trans "View current search" %}</a>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li>{% include "basket/partials/basket_quick.html" %}</li>
        </ul>
    </span>
</div>
