{% extends "layout.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Homepage' %} | {{ block.super }}
{% endblock %}

{% block extrahead %}
<script src="{% static "oscar/js/datepicker/bootstrap-datepicker.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "oscar/css/datepicker.css" %}" />
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans 'Confirm search' %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Confirm search" %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 register_form">

			<form id="search_pieces_form" method="post" class="form-horizontal">
				{% csrf_token %}
				<p>{% trans "Please confirm the search that will be submitted to providers" %}</p>

				{{ formset.management_form }}
			 	<h4>{% trans "Pieces to search" %}</h4>

				<div class="control-group">
					<label for="brand" class="control-label">{% trans "Brand" %}</label>
					<div class="controls">
						<input type="text" readonly="1" value="{{search_data.brand_name}}" />
					</div>
				</div>
				<div class="control-group">
					<label for="model" class="control-label">{% trans "Model" %}</label>
					<div class="controls">
						<input type="text" readonly="1" value="{{search_data.model_name}}" />
					</div>
				</div>
				<div class="control-group">
					<label for="version" class="control-label">{% trans "Version" %}</label>
					<div class="controls">
						<input type="text" readonly="1" value="{{search_data.version_name}}" />
					</div>
				</div>
				<div class="control-group">
					<label for="bodywork" class="control-label">{% trans "Bodywork" %}</label>
					<div class="controls">
						<input type="text" readonly="1" value="{{search_data.bodywork_name}}" />
					</div>
				</div>
				<div class="control-group">
					<label for="engine" class="control-label">{% trans "Engine" %}</label>
					<div class="controls">
						<input type="text" readonly="1" value="{{search_data.engine_name}}" />
					</div>
				</div>
				<div class="control-group">
					<label for="frameref" class="control-label">{% trans "Frame reference" %}</label>
					<div class="controls">
						<input type="text" readonly="1" value="{{search_data.frameref}}" />
					</div>
				</div>
				{% include "partials/form_fields.html" %}

				<div class="responsible-table">
					<table class="table" id="id_searchitemrequest_table">
						<thead><tr>
							<th>{% trans "Category" %}</th>
							<th>{% trans "Piece" %}</th>
							<th>{% trans "Comments" %}</th>
							<th>{% trans "Questions" %}</th>
							<th>{% trans "Picture" %}</th>
							<th>{% trans "Quantity" %}</th>
						</thead>
						<tbody>
							{% for item in search_data.pieces %}
							<tr>
								<td>{{item.category_name}}</td>
								<td>{{item.piece_name}}</td>
								<td>{{item.comments}}</td>
								<td><ul>
									{% for question in item.questions %}
										{% if question.type in 'text,boolean' %}
										<li>{{question.text}}:&nbsp;
											{% if question.type == 'text' %}
												{{question.value}}
											{% else %}
												{% if question.value %}
													{% trans "Yes" %}
												{% else %}
													{% trans "No" %}
												{% endif %}
											{% endif %}
										</li>
										{% endif %}
									{% endfor %}</ul>
								</td>
								<td>{% if item.picture %}<img src="/media/{{item.picture}}" style="height:50px;" />{% endif %}</td>
								<td>{{item.quantity}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				<div class="span12 form-actions">
					<a href="{% url 'search:home' %}" class="span4 btn btn-large">{% trans "Return to search" %}</a>
					<button type="submit" class="btn btn-primary btn-large span4">
					{% trans "Submit search request" %}
					</button>
				</div>
			</form>
        </div>
    </div>

 <script>
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      format: 'dd/mm/yyyy',
      weekStart:1
    });
  </script>
{% endblock content %}

