{% extends "layout.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Homepage' %} | {{ block.super }}
{% endblock %}

{% block extrahead %}
<style type="text/css">
    .delete-row {
        margin-left:5px;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="/">{% trans 'Home' %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans 'Search pieces' %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Search pieces" %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 register_form">
   <div class="alert alert-error" id="error_show" style="display:none;">
{% trans "There have been errors in your search. Please correct them and retry" %}
   </div>

			<form id="search_pieces_form" action="." method="post" class="form-horizontal" enctype="multipart/form-data">
				{% csrf_token %}

<div clas="span12">
	<div class="span6">
				<p>{% trans "Please enter the criteria for the pieces you want to search" %}</p>
				{% include "partials/form_fields.html" %}
					<button type="button" class="btn" id="button_add_picture">
					{% trans "Add picture to gallery" %}
					</button>
	</div>
	<div class="span6">
		<h4>{% trans "Picture gallery" %}</h4>

		<div id="picture_container"></div>
	</div>
</div>
<div style="clear:both"><br /></div>

				{{ formset.management_form }}
			 	<h4>{% trans "Pieces to search" %}</h4>

				<div class="responsible-table">
					<table class="table table-bordered table-striped-2" id="id_searchitemrequest_table">
						<tr>
							<th></th>
							<th>{% trans "Category" %}</th>
							<th>{% trans "Piece" %}</th>
							<th>{% trans "Comments" %}</th>
							<th>{% trans "Photo" %}</th>
							{% for item_form in formset.forms %}
							<tr id="{{ item_form.prefix }}-row" class="pieces-row">
								<td><span class="icon-trash" style="cursor:pointer;" data-id="{{item_form.prefix}}-row-{{item_form.id.value}}"></span></td>
								<td style='border-left:0px;'>{{item_form.category}}
                {% block errors %}
                    {% for error in item_form.category.errors %}
                        <span class="error-block"><i class="icon-exclamation-sign">
</i> {{ error }}</span>
                    {% endfor %}
                {% endblock %}
</td>
								<td>
								{% for fld in item_form.hidden_fields %}{{ fld }}{% endfor %}
				                            	{% if item_form.instance.pk %}{{ item_form.DELETE }}{% endif %}
								{{item_form.piece}}
                {% block errors1 %}
                    {% for error in item_form.piece.errors %}
                        <span class="error-block"><i class="icon-exclamation-sign">
</i> {{ error }}</span>
                    {% endfor %}
                {% endblock %}

								</td>
								<td>{{item_form.comments}}</td>
								<td>{{item_form.picture}}</td>
							</tr>
							<tr id="{{ item_form.prefix }}-row-questions">
								<td colspan="6" >

<div class="questions well">{% trans "No questions for this product" %}</div></td>
							</tr>
							{% endfor %}
					</table>
				</div>

				<div class="span12" style="margin-top:10px;">
					<button type="button" class="btn" id="button_add">
					{% trans "Add piece" %}
					</button>
				</div>
				<div class="span12 form-actions">

					<button type="submit" class="btn btn-primary btn-large">
					{% trans "Confirm search request" %}
					</button>
					<span class="span8"></span>
				</div>
			</form>
        </div>
    </div>

<div id="demoLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-header" 
      style="position:absolute; height:20px; left:100%; margin-left: 10px; padding:0; border:0;">
	 
	 <button type="button" class="close" 
	   style="color:white; font-size: 30px;" 
	   onclick='$("#demoLightbox").lightbox("hide")'> × </button>
 
   </div>
   <div class='lightbox-content'>
     <img src="">
   </div>
</div>
<script type="text/javascript">
$(document).ready(function()
{
	var current_picture = 0;

	$("#search_pieces_form").submit(function()
	{
		$("#error_show").html("");
		$("#error_show").hide();
		var $form = $(this);
		$.ajax({
			type: 'POST',
	    		url: $form.action,
    			data: $form.serialize(),
    			success: function(data) {
				if (data.result)
				{
					// redirect
					location.href='{% url 'search:placesearchrequest' %}';
				}
				else
				{
					// errors
					$("#error_show").html(data.error_message);
					$("#error_show").show();
				}
    			}
		});
		return false;
	});

	function fill_field(current_parent, current_child, category_value, product_value)
	{
		var current_id = current_child.id;
		if (!category_value || category_value=='')
		{
                        options = '<option value="">---------<'+'/option>';
			$(current_child).html(options);
			$("#"+current_id+' option:first').attr('selected', 'selected');
			$(current_child).trigger('change');
                        return;
		}
                $.getJSON("/chaining/filter/catalogue/Product/categories/"+category_value+"/", function(j){
                	var options = '<option value="">---------<'+'/option>';
                        for (var i = 0; i < j.length; i++) {
                            options += '<option value="' + j[i].value + '">' + j[i].display + '<'+'/option>';
                        }
                        var width = $(current_child).outerWidth();
                        $(current_child).html(options);
                        if (navigator.appVersion.indexOf("MSIE") != -1)
                            $(current_child).width(width + 'px');
                        $('#'+current_id+' option:first').attr('selected', 'selected');
                        var auto_choose = false;
                        if(product_value){
                            $('#'+current_id+' option[value="'+ product_value +'"]').attr('selected', 'selected');
                        }
                        if(auto_choose && j.length == 1){
                            $('#'+current_id+' option[value="'+ j[0].value +'"]').attr('selected', 'selected');
                        }
                        $(current_child).trigger('change');
		})

	}
	function fill_field_brand(current_parent, current_child, category_value, product_value)
	{
		var current_id = current_child.id;
		if (!category_value || category_value=='')
		{
                        options = '<option value="">---------<'+'/option>';
			$(current_child).html(options);
			$("#"+current_id+' option:first').attr('selected', 'selected');
			$(current_child).trigger('change');
                        return;
		}
                $.getJSON("/chaining/filter/catalogue/Model/brand/"+category_value+"/", function(j){
                	var options = '<option value="">---------<'+'/option>';
                        for (var i = 0; i < j.length; i++) {
                            options += '<option value="' + j[i].value + '">' + j[i].display + '<'+'/option>';
                        }
                        var width = $(current_child).outerWidth();
                        $(current_child).html(options);
                        if (navigator.appVersion.indexOf("MSIE") != -1)
                            $(current_child).width(width + 'px');
                        $('#'+current_id+' option:first').attr('selected', 'selected');
                        var auto_choose = false;
                        if(product_value){
                            $('#'+current_id+' option[value="'+ product_value +'"]').attr('selected', 'selected');
                        }
                        if(auto_choose && j.length == 1){
                            $('#'+current_id+' option[value="'+ j[0].value +'"]').attr('selected', 'selected');
                        }
                        $(current_child).trigger('change');
		})

	}
	function fill_field_model(current_parent, current_child, category_value, product_value)
	{
		var current_id = current_child.id;
		if (!category_value || category_value=='')
		{
                        options = '<option value="">---------<'+'/option>';
			$(current_child).html(options);
			$("#"+current_id+' option:first').attr('selected', 'selected');
			$(current_child).trigger('change');
                        return;
		}
                $.getJSON("/chaining/filter/catalogue/Version/model/"+category_value+"/", function(j){
                	var options = '<option value="">---------<'+'/option>';
                        for (var i = 0; i < j.length; i++) {
                            options += '<option value="' + j[i].value + '">' + j[i].display + '<'+'/option>';
                        }
                        var width = $(current_child).outerWidth();
                        $(current_child).html(options);
                        if (navigator.appVersion.indexOf("MSIE") != -1)
                            $(current_child).width(width + 'px');
                        $('#'+current_id+' option:first').attr('selected', 'selected');
                        var auto_choose = false;
                        if(product_value){
                            $('#'+current_id+' option[value="'+ product_value +'"]').attr('selected', 'selected');
                        }
                        if(auto_choose && j.length == 1){
                            $('#'+current_id+' option[value="'+ j[0].value +'"]').attr('selected', 'selected');
                        }
                        $(current_child).trigger('change');
		})

	}
	function fill_field_version(current_parent, current_child, category_value, product_value)
	{
		var current_id = current_child.id;
		if (!category_value || category_value=='')
		{
                        options = '<option value="">---------<'+'/option>';
			$(current_child).html(options);
			$("#"+current_id+' option:first').attr('selected', 'selected');
			$(current_child).trigger('change');
                        return;
		}
                $.getJSON("/chaining/filter/catalogue/Engine/version/"+category_value+"/", function(j){
                	var options = '<option value="">---------<'+'/option>';
                        for (var i = 0; i < j.length; i++) {
                            options += '<option value="' + j[i].value + '">' + j[i].display + '<'+'/option>';
                        }
                        var width = $(current_child).outerWidth();
                        $(current_child).html(options);
                        if (navigator.appVersion.indexOf("MSIE") != -1)
                            $(current_child).width(width + 'px');
                        $('#'+current_id+' option:first').attr('selected', 'selected');
                        var auto_choose = false;
                        if(product_value){
                            $('#'+current_id+' option[value="'+ product_value +'"]').attr('selected', 'selected');
                        }
                        if(auto_choose && j.length == 1){
                            $('#'+current_id+' option[value="'+ j[0].value +'"]').attr('selected', 'selected');
                        }
                        $(current_child).trigger('change');
		})

	}
	$("select.piece").change(function()
	{
		var product_value = $(this).val();
                var next_row = $(this).parent().parent('tr').next();
                var current_cell = $(next_row).children()[0];
                var questions_container = $(current_cell).find("div.questions")[0];
		if (product_value)
		{
	                $.getJSON("/catalogue/productquestions/"+product_value+"/", function(data){
				if (data.length>0)
				{
					var final_html = "<table class='table span12' style='background-color:transparent;margin-top:0px;'>";
					for (var i in data)
					{
						current_item = data[i];
						if (current_item.type=='boolean')
						{
							final_html += "<tr><th style='border:0px;background-color:transparent;color:#303030'>"+current_item.text+"</th>";
							final_html+="<td style='border:0px;'><select id='question_"+current_item.id+"' name='question_"+current_item.id+"' >";
							final_html+="<option value='0' ";
							if (current_item.value=='0') final_html+=" selected='selected' ";
							final_html+=">{% trans "No" %}</option>";
							final_html+="<option value='1' ";
							if (current_item.value=='1') final_html+=" selected='selected' ";
							final_html+=">{% trans "Yes" %}</option>";
							final_html+="</select></td>";
						}
						else if (current_item.type=='text')
						{

							final_html += "<tr><th style='border:0px;background-color:transparent;color:#303030;'>"+current_item.text+"</th>";
							final_html+="<td style='border:0px;'><input type='text' id='question_"+current_item.id+"' name='question_"+current_item.id+"' size=50 maxlength=255 ";
							if (current_item.value)
							{
								final_html+=" value='"+current_item.value+"' ";
							}
							final_html+="/></td>";
						}
						else if (current_item.type=='list')
						{
							var options = current_item.options.split('|');
							final_html += "<tr><th style='border:0px;background-color:transparent;color:#303030;'>"+current_item.text+"</th>";
							final_html+="<td style='border:0px;'><select id='question_"+current_item.id+"' name='question_"+current_item.id+"' >";

							for (var i in options)
							{
								var current_option = options[i];
								final_html+="<option value='"+current_option+"' ";
								if (current_item.value==current_option) final_html+=" selected='selected' ";
								final_html+=">"+current_option+"</option>";
							}
							final_html+="</select></td>";
						}
						else
						{
							// foto, usar el campo principal
							final_html+="<tr><td style='border:0px;'>{% trans "It's mandatory to attach a picture" %}</td>";
						}
						final_html += "</tr>";
					}
					final_html += "</table>";
					$(questions_container).html(final_html);
				}
				else
				{
					// no questions
					$(questions_container).html("{% trans "No questions for this product" %}");
				}
			});
		}
		else
		{
			// no questions
			$(questions_container).html("{% trans "No questions for this product" %}");
		}
	});

	$("select.category").change(function(){
		var category_value = $(this).val();
		var related_product = $(this).parent().parent().find("select.piece");
		if (related_product.length>0)
		{
			product_value = '';
			var current_select = related_product[0];
			var product_value = $(current_select).val();
                    	fill_field(this, current_select, category_value, product_value);
		}
	})

	$("#button_add").click(function() {
		var visible_rows = $("#id_searchitemrequest_table tr[class=pieces-row]:visible").length;
		if (visible_rows<50)
		{
			show_table_row(visible_rows);
		}
		if (visible_rows>=49)
		{
			$("#button_add").hide();
		}
	});

	$("#button_add_picture").click(function()
	{
		current_picture+=1;
		$("#id_picture"+current_picture).parent().parent().parent().show();
	});

	function hide_table_row(val)
	{
		questions_id = val.id;
		$("#"+questions_id).hide();
		$("#"+questions_id+'-questions').hide();
	}
	function show_table_row(index)
	{
		questions_id = "form-"+index+"-row";
		$("#"+questions_id).show();
		$("#"+questions_id+'-questions').show();
	}

	// only show first 2 items or the ones without content
	$("#id_searchitemrequest_table tr[class=pieces-row]").each(function(counter, val)
	{
		if (counter>1) 
		{
			hide_table_row(val);
		}
	});

	$("select.piece").trigger("change");

	// hide all images at start
	for (var i=1;i<=10;i++)
	{
		var id = "#id_picture"+i;
		var current_val = $(id).val();
 		if (!current_val)
		{
			$(id).parent().parent().parent().hide();
		}
		else
		{
			current_picture = i;
		}
	}

	$("#id_brand").change(function()
	{
		var current_text = $("#id_brand option:selected").text();
		if (current_text=="{% trans "Others" %}")
		{
			$("#other_brand").parent().parent().show();
		}
		else
		{
			$("#other_brand").parent().parent().hide();
			var model = $("#id_model");
                        fill_field_brand($("#id_brand"), model[0], $(this).val(), '');
		}
	});
	$("#id_model").change(function()
	{
		var current_text = $("#id_model option:selected").text();
		if (current_text=="{% trans "Others" %}")
		{
			$("#other_model").parent().parent().show();
		}
		else
		{
			$("#other_model").parent().parent().hide();
                        var version = $("#id_version");
                        fill_field_model($("#id_model"), version[0], $(this).val(), '');
		}
	});
	$("#id_version").change(function()
	{
		var current_text = $("#id_version option:selected").text();
		if (current_text=="{% trans "Others" %}")
		{
			$("#other_version").parent().parent().show();
		}
		else
		{
			$("#other_version").parent().parent().hide();
			var engine = $("#id_engine");
			fill_field_version($("#id_engine"), engine[0], $(this).val(), '');
		}
	});
	$("#id_engine").change(function()
	{
		var current_text = $("#id_engine option:selected").text();
		if (current_text=="{% trans "Others" %}")
		{
			$("#other_engine").parent().parent().show();
		}
		else
		{
			$("#other_engine").parent().parent().hide();
		}
	});

	$("#id_bodywork").change(function()
	{
		var current_text = $("#id_bodywork option:selected").text();
		if (current_text=="{% trans "Others" %}")
		{
			$("#other_bodywork").parent().parent().show();
		}
		else
		{
			$("#other_bodywork").parent().parent().hide();
		}
	});

	$(".icon-trash").click(function()
	{
		var parent_row = $(this).parent().parent();
		var items = $(parent_row).find("select");
		for (var i=0;i<items.length;i++)
		{
			var current = items[i];
			$(current).val([]);
		}
		var comment = $(parent_row).find("textarea");
		var current = comment[0];
		$(current).val("");

		var link = $(parent_row).find("a.remove");
		var current = link[0];
		$(current).trigger("click");

		var current_id = $(this).attr("data-id");
		var questions_id = "#"+current_id+"questions";
		var element = $(questions_id).find("div");
		var current = element[0];
		$(current).html("{% trans "No questions for this product" %}");

	});

	$("#id_brand").trigger("change");
	$("#id_model").trigger("change");
	$("#id_version").trigger("change");
	$("#id_engine").trigger("change");
	$("#id_bodywork").trigger("change");

	$(document).bind("ajaximage_added", function(context, data) {
		var img_url = data.image;
		$("#picture_container").append("<div class='span4' style='margin-left:0px;padding:3px;' id='pict_container_"+data.id+"'><img src='/media/"+img_url+"' /></div>");
	});
	$(document).bind("ajaximage_removed", function(context, data) {
		var img_url = data.image;

		$("#pict_container_"+data.id).remove();
	});

});
</script>

{% endblock content %}
