{% extends "layout.html" %}
{% load i18n %}
{% load currency_filters %}
{% load staticfiles %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="/">{% trans 'Home' %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans 'Active searches from customers' %}</li>
    </ul>
{% endblock %}
{% block content %}

    {% if searchrequests %}
        <h3>{{ form.description }}</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>{% trans "Search request number" %}</th>
                <th>{% trans "Expiration date" %}</th>
                <th>{% trans "Brand" %}</th>
                <th>{% trans "Model" %}</th>
                <th>{% trans "Version" %}</th>
                <th>{% trans "Engine" %}</th>
                <th>{% trans "Zone" %}</th>
                <th>{% trans "Num items" %}</th>
                <th>{% trans "Search type" %}</th>
		<th>{% trans "Remaining time" %}</th>
            </tr>
            {% for searchrequest in searchrequests %}
                <tr>
                    <td><span class="span1">{{ searchrequest.id}}</span>&nbsp;<a href="{% url 'search:quote' pk=searchrequest.id %}" class="btn">{% trans "Quote" %}</a></td>
                    <td>{{ searchrequest.expiration_date|date:'d/m/Y' }}</td>
                    <td>{{ searchrequest.brand.name }}</td>
                    <td>{{ searchrequest.model.name }}</td>
                    <td>{{ searchrequest.version.name }}</td>
                    <td>{{ searchrequest.engine }}</td>
                    <td>{{ searchrequest.zone }}</td>
                    <td>{{ searchrequest.num_items }}</td>
                    <td>{{ searchrequest.search_type }}</td>
		    <td><span class="remainingtime id='remainingtime_{{searchrequest.id}}'">{{searchrequest.remaining_time}}</span></td>
                </tr>

            {% endfor %}
        </table>
    {% else %}
        <p>{% trans "You haven't placed any orders." %}</p>
    {% endif %}

    {% include "partials/pagination.html" %}

<div style="clear:both"><br /></div>

	<script type="text/javascript">
	$("span.remainingtime").each(function()
	{
		    	var $timer = $(this);

		var interval = setInterval(function() 
		{
			var timer_str = $timer.html();
			timer_str = timer_str.split(':');
		    	var minutes = parseInt(timer_str[0], 10);
		    	var seconds = parseInt(timer_str[1], 10);
		    	seconds -= 1;
	    		if (minutes < 0) return clearInterval(interval);
		    	if (minutes < 10 && minutes.length != 2) minutes = '0' + minutes;
		    	if (seconds < 0 && minutes != 0) {
	        		minutes -= 1;
	        		seconds = 59;
		    	}
		    	else if (seconds < 10 && length.seconds != 2) seconds = '0' + seconds;
			$timer.html(minutes + ':' + seconds);
   
		    	if (minutes == 0 && seconds == 0)
        			clearInterval(interval);
		}, 1000);
	});
	</script>

{% endblock %}

{% block extrastyles %}
    {{ block.super }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.css">
{% endblock %}

{% block cdn_scripts %}
    {{ block.super }}
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    $('#id_date_to, #id_date_from').datepicker({'dateFormat': 'yy-mm-dd'});
{% endblock %}
