{% extends "layout.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Homepage' %} | {{ block.super }}
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $('#id_searchitemrequest_table tbody tr').formset({
            prefix: 'form',
            'addText': '{% trans "Add new piece" %}',
            'deleteText': '{% trans "Delete piece" %}',
        })
    })
</script>
<style type="text/css">
    .delete-row {
        margin-left:5px;
    }
</style>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="/">{% trans 'Home' %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans 'Search submitted' %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Search submitted" %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 register_form">

		<p>{% trans "Your search has been successfully submitted and will be visible to providers." %}</p>
		<p>{% trans "You will be notified if there are offers for your search." %}</p>

		<div class="span12 form-actions">
			<a href="/" class="btn btn-primary btn-large span4">
			{% trans "Return home" %}</a>
			<span class="span8"></span>
		</div>
        </div>
    </div>
{% endblock content %}

