{% extends "layout.html" %}

{% load i18n %}

{% block title %}
    {% trans 'Homepage' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans 'Quote search request' %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Quote search request" %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 register_form">

				<p class="span10">{% trans "Please enter the quote details for that search request" %}</p>

				<div class="control-group span5">
					<label class="control-label">{% trans "Brand" %}:</label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="{{searchrequest.brand.name}}" />
					</div>
				</div>
				<div class="control-group span5">
					<label class="control-label">{% trans "Model" %}:</label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="{{searchrequest.model.name}}" />
					</div>
				</div>
				<div class="control-group span5">
					<label class="control-label">{% trans "Version" %}:</label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="{{searchrequest.version.name}}" />
					</div>
				</div>
				<div class="control-group span5">
					<label class="control-label">{% trans "Engine" %}:</label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="{{searchrequest.engine.name}}" />
					</div>
				</div>
				<div class="control-group span5">
					<label class="control-label">{% trans "Bodywork" %}:</label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="{{searchrequest.bodywork.name}}" />
					</div>
				</div>
				<div class="control-group span5">
					<label class="control-label">{% trans "Frame reference" %}:</label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="{{searchrequest.frameref}}" />
					</div>
				</div>
				<div class="control-group span5">
					<label class="control-label">{% trans "Expiration date" %}:</label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="{{searchrequest.expiration_date|date:'d/m/Y'}}" />
					</div>
				</div>
				<div class="control-group span5">
					<label class="control-label">{% trans "Comments" %}:</label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="{{searchrequest.comments}}" />
					</div>
				</div>
				<div class="control-group span5">
					<label class="control-label">{% trans "Zone" %}:</label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="{{searchrequest.zone}}" />
					</div>
				</div>

			<form id="quote_form" action="." method="post" class="form-horizontal span12">
				{% csrf_token %}

				{{ formset.management_form }}
			 	<h4>{% trans "Pieces to quote" %}</h4>

				<div class="responsible-table">
					<table class="table table-quote span12" id="id_searchitemrequest_table">
						<thead><tr>
							<th>{% trans "Category" %}</th>
							<th>{% trans "Piece" %}</th>
							<th>{% trans "Picture" %}</th>
							<th>{% trans "Comments" %}</th>
							<th>{% trans "Quantity" %}</th>
							<th>{% trans "Served quantity" %}</th>
							<th>{% trans "Base total excl. tax" %}</th>
							<th>{% trans "Comments for the quote" %}</th>
							<th>{% trans "Picture of the piece to be sent" %}</th>
						</tr></thead>
						<tbody>
							{% for item_form in formset.forms %}
							<tr id="{{ item_form.prefix }}-row">
								<td>{{item_form.category}}</td>
								<td>
								{% for fld in item_form.hidden_fields %}{{ fld }}{% endfor %}
								{{item_form.piece}}<br /><br />
								{{item_form.answers}}</td>
								</td>
								<td>{% if item_form.picture.value %}
								<img src='/media/{{item_form.picture.value}}' style='max-width:100px;'/>{% endif %}</td>
								<td>{{item_form.comments}}</td>
								<td>{{item_form.quantity}}</td>
								<td>{{item_form.served_quantity}}</td>
								<td>{{item_form.base_total}}</td>
								<td>{{item_form.quote_comments}}</td>
								<td>{{item_form.quote_picture}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% include "partials/form_fields.html" %}
			 	<h4>{% trans "Quote summary" %}</h4>

				<div class="control-group span5">
					<label class="control-label"><strong>{% trans "Base total excluding tax" %}:</strong></label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="" id="base_total_excluding_tax" />
					</div>
				</div>
				<div class="control-group span5">
					<label class="control-label"><strong>{% trans "Base total including tax" %}:</strong></label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="" id="base_total_including_tax" />
					</div>
				</div>

				<div class="control-group span5">
					<label class="control-label"><strong>{% trans "Shipping total including tax" %}:</strong></label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="" id="shipping_total_including_tax" />
					</div>
				</div>
				<div style="clear:both"></div>	

				<div class="control-group span5">
					<label class="control-label"><strong>{% trans "Grand total excluding tax" %}:</strong></label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="" id="grand_total_excluding_tax" />
					</div>
				</div>

				<div class="control-group span5">
					<label class="control-label"><strong>{% trans "Grand total including tax" %}:</strong></label>
					<div class="controls">
						<input type="text" readonly="readonly" disabled="disabled" value="" id="grand_total_including_tax" />
					</div>
				</div>

				<div class="span12 form-actions">
					<button type="submit" class="btn btn-primary btn-large span4">
					{% trans "Confirm quote" %}
					</button>
					<span class="span8"></span>
				</div>
			</form>
        </div>
    </div>

<script type="text/javascript">
$(document).ready(function()
{
	var taxes = 21;
	recalcTotal();
	$("input[id*=base_total]").change(function()
	{
		recalcTotal();
	});

	$("#id_shipping_total_excl_tax").change(function()
	{
		recalcTotal();
	});

	function recalcTotal()
	{
		var total = 0;
		$("input[id*=base_total]").each(function()
		{
			var current_id = this.id;
			if (current_id && current_id.indexOf('_tax')==-1)
			{
				var current_val = $(this).val();
				if (current_val>0)
					total+=parseFloat(current_val);
			}
		});
		$("#base_total_excluding_tax").val(total);
		with_tax = parseFloat(total + (total*taxes/100)).toFixed(2);
		$("#base_total_including_tax").val(with_tax);

		var current = parseFloat($("#id_shipping_total_excl_tax").val());
		var total = parseFloat(current + (current*taxes/100)).toFixed(2);
		$("#shipping_total_including_tax").val(total);

		var base_without = parseFloat($("#base_total_excluding_tax").val());
		var shipping_without = parseFloat($("#id_shipping_total_excl_tax").val());
		var final = (base_without + shipping_without).toFixed(2);
		$("#grand_total_excluding_tax").val(final);

		var base_with = parseFloat($("#base_total_including_tax").val());
		var shipping_with = parseFloat($("#shipping_total_including_tax").val());
		var final = (base_with + shipping_with).toFixed(2);
		$("#grand_total_including_tax").val(final);

	}
});
</script>
{% endblock content %}

