{% extends "layout.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Homepage' %} | {{ block.super }}
{% endblock %}

{% block extrahead %}
<script src="{% static "oscar/js/datepicker/bootstrap-datepicker.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "oscar/css/datepicker.css" %}" />
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="/">{% trans 'Home' %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans 'Quote details' %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Quote details" %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12 register_form">

	 	<h4>{% trans "Search details" %}</h4>
		<div class="responsive-table">
			<table class="table span12">
			<tr><th style="width:15%;">{% trans "Brand" %}</th><td style="width:35%;">{{quote.search_request.brand}}
{% if quote.search_request.other_brand %} - {{quote.search_request.other_brand}}{% endif %}
</td>
			<th style="width:15%;">{% trans "Frame reference" %}</th><td style="width:35%;">{{quote.search_request.frameref}}</td></tr>

			<tr><th>{% trans "Model" %}</th><td>{{quote.search_request.model.name}}
{% if quote.search_request.other_model %} - {{quote.search_request.other_model}}{% endif %}
</td>
			<th>{% trans "Comments" %}</th><td>{{quote.search_request.comments}}</td></tr>

			<tr><th>{% trans "Version" %}</th><td>{{quote.search_request.version.name}}
{% if quote.search_request.other_version %} - {{quote.search_request.other_version}}{% endif %}
</td>
			<th>{% trans "State" %}</th><td>{% trans quote.search_request.state %}</td></tr>

			<tr><th>{% trans "Bodywork" %}</th><td>{{quote.search_request.bodywork}}
{% if quote.search_request.other_bodywork %} - {{quote.search_request.other_bodywork}}{% endif %}
</td>
			<th>{% trans "Date created" %}</th><td>{{quote.search_request.date_created}}</td></tr>

			<tr><th>{% trans "Engine" %}</th><td>{{quote.search_request.engine}}
{% if quote.search_request.other_engine %} - {{quote.search_request.other_engine}}{% endif %}
</td>
			<th>{% trans "Date updated" %}</th><td>{{quote.search_request.date_updated}}</td></tr>

			</table>
		</div>
		<div style="clear:both"><br /></div>

		<h4>{% trans "Pieces detail" %}</h4>
		<div class="responsible-table">
			<table class="table table-striped table-bordered" id="id_searchitemrequest_table">
				<tr>
					<th>{% trans "Category" %}</th>
					<th class="span4">{% trans "Piece" %}</th>
					<th>{% trans "Search request comments" %}</th>
					<th>{% trans "Quote comments" %}</th>
					<th>{% trans "Search request picture" %}</th>
					<th>{% trans "Quote picture" %}</th>
					<th>{% trans "Base total (excl tax)" %}</th>
					<th>{% trans "Select item" %}</th>
				</tr>
					{% for item in quote.lines %}
					<tr>
						<td>{{item.search_item_request.category}}</td>
						<td class="span4">{{item.search_item_request.piece}}<br />
<a href="javascript:;" class="showhidedetails">{% trans "Show / hide piece details" %}</a>

<div class="details" style="display:none;">
						<ul>
		{% for question in item.search_item_request.answers %}
			{% if question.question.type in 'text,boolean,list' %}
				<li>{{question.question.text}}:&nbsp;
				{% if question.question.type in 'text,list' %}
					{{question.text_answer}}
				{% else %}
					{% if question.boolean_answer %}
						{% trans "Yes" %}
					{% else %}
						{% trans "No" %}
					{% endif %}
				{% endif %}
				</li>
			{% endif %}
		{% endfor %}</ul>
</div>
</td>
						<td>{{item.search_item_request.comments}}</td>
						<td>{{item.comments}}</td>
						<td>{% if item.search_item_request.picture %}<img class="search_item" src="/media/{{item.search_item_request.picture}}" style="height:50px;" />{% endif %}</td>
						<td>{% if item.picture %}<img class="search_item" src="/media/{{item.picture}}" style="height:50px;" />{% endif %}</td>
						<td>{{item.base_total_excl_tax}} €</td>
						<td><input type="checkbox" id="searchitemrequest_{{item.id}}" name="search_item_request[{{item.id}}]" checked="checked" class="search_item_checkbox" />
						<input type="hidden" id="searchitemrequest_value_{{item.id}}" value="{{item.base_total_excl_tax|stringformat:"f"}}" />
						</td>
					</tr>
					{% endfor %}
			</table>
		</div>
		<div style="clear:both"><br /></div>

				<div>
					<h4>{% trans "Photo gallery" %}</h4>
					<div style="clear:both"><br /></div>

					{% if quote.search_request.picture1%}
					<div class="span3">
						<img class="search_item" src="/media/{{quote.search_request.picture1}}" style="height:50px;" />
					</div>
					{% endif %}

					{% if quote.search_request.picture2%}
					<div class="span3">
						<img class="search_item" src="/media/{{quote.search_request.picture2}}" style="height:50px;" />
					</div>
					{% endif %}

					{% if quote.search_request.picture3 %}
					<div class="span3">
						<img class="search_item" src="/media/{{quote.search_request.picture3}}" style="height:50px;" />
					</div>
					{% endif %}

					{% if quote.search_request.picture4 %}
					<div class="span3">
						<img class="search_item" src="/media/{{quote.search_request.picture4}}" style="height:50px;" />
					</div>
					{% endif %}

					{% if quote.search_request.picture5 %}
					<div class="span3">
						<img class="search_item" src="/media/{{quote.search_request.picture5}}" style="height:50px;" />
					</div>
					{% endif %}

					{% if quote.search_request.picture6 %}
					<div class="span3">
						<img class="search_item" src="/media/{{quote.search_request.picture6}}" style="height:50px;" />
					</div>
					{% endif %}

					{% if quote.search_request.picture7 %}
					<div class="span3">
						<img class="search_item" src="/media/{{quote.search_request.picture7}}" style="height:50px;" />
					</div>
					{% endif %}

					{% if quote.search_request.picture8 %}
					<div class="span3">
						<img class="search_item" src="/media/{{quote.search_request.picture8}}" style="height:50px;" />
					</div>
					{% endif %}

					{% if quote.search_request.picture9 %}
					<div class="span3">
						<img class="search_item" src="/media/{{quote.search_request.picture9}}" style="height:50px;" />
					</div>
					{% endif %}

					{% if quote.search_request.picture10 %}
					<div class="span3">
						<img class="search_item" src="/media/{{quote.search_request.picture10}}" style="height:50px;" />
					</div>
					{% endif %}


				</div>
				<div style="clear:both"><br /></div>

		<h4>{% trans "Quote summary" %}</h4>
		<div class="responsive-table">
			<table class="table span12">
			<tr><th style="width:15%;">{% trans "Owner" %}</th><td style="width:35%;">{% if quote.owner.commercial_name %}
			{{quote.owner.commercial_name}}{% else %}{{quote.owner}}{% endif %}</td>
			<th style="width:15%;">{% trans "Date created" %}</th><td style="width:35%;">{{quote.date_created}}</td></tr>

			<tr><th>{% trans "Date updated" %}</th><td>{{quote.date_updated}}</td>
			<th>{% trans "Comments" %}</th><td colspan="2">{{quote.comments}}</td></tr>


			<th>{% trans "Base total (excl tax)" %}</th><td>{{quote.base_total_excl_tax}} €
			<input type="hidden" id="base_total_excl_tax" value="{{quote.base_total_excl_tax|stringformat:"f"}}" />
			<span style="color:green;float:right;margin-right:15px;" id="new_base_total_excl_tax">{{quote.base_total_excl_tax}} €</span></td>
			<th>{% trans "Warranty days" %}</th><td colspan="2">{{quote.warranty_days}}</td></tr>


			<tr><th>{% trans "Base total (incl tax)" %}</th><td>{{quote.base_total_incl_tax}} €
			<input type="hidden" id="base_total_incl_tax" value="{{quote.base_total_incl_tax|stringformat:"f"}}" />
			<span style="color:green;float:right;margin-right:15px;" id="new_base_total_incl_tax">{{quote.base_total_incl_tax}} €</span></td>
			<th>{% trans "Shipping days" %}</th><td colspan="2">{{quote.shipping_days}}</td></tr>

			<tr><th>{% trans "Shipping total (excl tax)" %}</th><td>{{quote.shipping_total_excl_tax}} €
			<input type="hidden" id="shipping_total_excl_tax" value="{{quote.shipping_total_excl_tax|stringformat:"f"}}" />
			<span style="color:green;float:right;margin-right:15px;" id="new_shipping_total_excl_tax">{{quote.shipping_total_excl_tax}} €</span></td>
			</tr>
			<tr><th>{% trans "Shipping total (incl tax)" %}</th><td>{{quote.shipping_total_incl_tax}} €
			<input type="hidden" id="shipping_total_incl_tax" value="{{quote.shipping_total_incl_tax|stringformat:"f"}}" />
			<span style="color:green;float:right;margin-right:15px;" id="new_shipping_total_incl_tax">{{quote.shipping_total_incl_tax}} €</span></td>
			</tr>

			<tr><th>{% trans "Grand total (excl tax)" %}</th><td>{{quote.grand_total_excl_tax}} €
			<input type="hidden" id="grand_total_excl_tax" value="{{quote.grand_total_excl_tax|stringformat:"f"}}" />
			<span style="color:green;float:right;margin-right:15px;" id="new_grand_total_excl_tax">{{quote.grand_total_excl_tax}} €</span></td>
			</tr>

			<tr><th>{% trans "Grand total (incl tax)" %}</th><td>{{quote.grand_total_incl_tax}} €
			<input type="hidden" id="grand_total_incl_tax" value="{{quote.grand_total_incl_tax|stringformat:"f"}}" />
			<span style="color:green;float:right;margin-right:15px;" id="new_grand_total_incl_tax">{{quote.grand_total_incl_tax}} €</span></td>
			</tr>

			</table>
		</div>
		<div style="clear:both"><br /></div>

				<div class="span12 form-actions">
					<button type="submit" class="span3 btn btn-large btn-primary btn_accept">{% trans "Accept quote" %}</button>
					<button type="submit" class="span3 btn btn-large btn_recalc">{% trans "Ask for shipping recalc" %}</button>
                                        <a href="javascript:history.back();" class="span3 btn btn-large"><< {% trans "Back" %}</a>
				</div>
			</form>
        </div>
    </div>

<div id="error_modal" class="modal hide" data-id="">
    <div class="modal-header">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="close" id="btnClose">×</a>
         <h3>{% trans "Errors on quote acceptation" %}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Please select at least one of the items in the quote" %}</p>
    </div>
</div>

<div id="recalc_confirmation" class="modal hide" data-id="">
    <div class="modal-header">
        <a href="#" data-dismiss="modal" aria-hidden="true" class="close" id="btnClose">×</a>
         <h3>{% trans "Confirm shipping recalc request" %}</h3>
    </div>
    <div class="modal-body">
	<div id="error_container" class="alert alert-error" style="display:none;"></div>
        <p>{% trans "Are you sure you want to ask for a recalc of shipping?" %}</p>
    </div>
    <div class="modal-footer">
      <a href="#" id="btnYesSubmit" class="btn danger">{% trans "Yes" %}</a>
      <a href="#" id="btnNoSubmit" data-dismiss="modal" aria-hidden="true" class="btn secondary">{% trans "No" %}</a>
    </div>
</div>

 <script>
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      format: 'dd/mm/yyyy',
      weekStart:1
    });

	$(document).ready(function()
	{
		$("img.search_item").img_lightbox_tooltip();
		$(".showhidedetails").click(function()
		{
	                var container = $(this).parent().find("div.details");
        	        if (container.length>0)
                	{
                        	var current = $(container[0]);
	                        current.toggle();
        	        }

		});

		function validateSubmit()
		{
			// at least we need one item selected
			var checked = $(".search_item_checkbox:checked");
			if (checked.length<=0)
			{
				// open alert
				$("#error_modal").modal("show");
				return false;
			}
			return true;
		}

		$(".search_item_checkbox").click(function()
		{
			// recalc quote
			var checked = $(".search_item_checkbox:checked");
			var base_total = 0;
			for (var i=0;i<checked.length;i++)
			{
				var item = checked[i];
				set = item.id.split("_");
				var current_val = $("#searchitemrequest_value_"+set[1]).val();
				base_total += parseFloat(current_val);
			}
			$("#new_base_total_excl_tax").html(base_total.toFixed(2));
			var base_total_with_tax = base_total + base_total*{{tpc_tax}}/100;
			$("#new_base_total_incl_tax").html(base_total_with_tax.toFixed(2));

			var grand_total_excl_tax = base_total + parseFloat($("#shipping_total_excl_tax").val());
			$("#new_grand_total_excl_tax").html(grand_total_excl_tax.toFixed(2));

			var grand_total_incl_tax = base_total_with_tax + parseFloat($("#shipping_total_incl_tax").val());
			$("#new_grand_total_incl_tax").html(grand_total_incl_tax.toFixed(2));
		});

		$(".btn_accept").click(function()
		{
			result = validateSubmit();
			if (result)
			{
				var checked = $(".search_item_checkbox:checked");
				var ids = [];
				for (var i=0;i<checked.length;i++)
				{
					var set = checked[i].id.split("_");
					var selected = set[1];
					ids.push(selected);
				}
				final_ids = ids.join();
				location.href='{% url 'search:acceptquote' number=quote.id%}?lines='+final_ids;
			}
		});

	        $("#btnYesSubmit").click(function()
        	{
			$("#error_container").html("");
			$("#error_container").hide();
			var checked = $(".search_item_checkbox:checked");
			var ids = [];
			for (var i=0;i<checked.length;i++)
			{
				var set = checked[i].id.split("_");
				var selected = set[1];
				ids.push(selected);
			}
			// send a post request
			$.post("{% url 'search:recalcquote' %}",
			       	{"quote_id":{{quote.id}}, "ids":ids.join()},
				function(data)
				{
					if (data.result=='KO')
					{
						$("#error_container").html(data.error);
						$("#error_container").show();
					}
					else
					{
						// redirect to recalc asked
						location.href='{% url 'search:recalcplaced' %}';
					}
					return false;
				}
			);
        	});

		$(".btn_recalc").click(function()
		{
			result = validateSubmit();
			if (result)
			{
				$("#recalc_confirmation").modal("show");
				return false;
			}
		});

	});
  </script>
{% endblock content %}

