{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

<ul class="basket-mini-item unstyled">
    {% if request.basket.num_lines %}
        {% for line in request.basket.all_lines %}
            <li>
                <div class="row-fluid">
                    <div class="span6">
                        {{line.product.piece}}
                    </div>
                    <div class="span1 align-center"><strong>{% trans "Qty" %}</strong> {{ line.quantity }}</div>
                </div>
            </li>
        {% endfor %}
        <li class="form-actions">
            <p class="pull-left"><a href="{% url 'basket:summary' %}" class="btn btn-info btn-small">{% trans "View current search" %}</a></p>
            <p class="pull-right"><a href="{% url 'search:placesearchrequest' %}" class="btn btn-primary btn-small"><i class="icon-shopping-cart"></i> {% trans "Create search request" %}</a></p>
        </li>
    {% else %}
        <li><p>{% trans "Your search request is empty." %}</p></li>
    {% endif %}
</ul>
