{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}

{% if basket_warnings %}
    <h5>{% trans "Important messages about items in your basket" %}</h5>
    {% for warning in basket_warnings %}
        <div class="alert">{{ warning }}</div>
    {% endfor %}
{% endif %}

{% if upsell_messages %}
    <div class="well">
        <h3>{% trans "You could be missing out on offers!" %}</h3>
        {% for upsell in upsell_messages %}
            {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
                <div class="warning">{{ message }} to qualify for the <a href="{{ url }}">{{ offer_name }}</a> special offer</div>
            {% endblocktrans %}
        {% endfor %}
    </div>
{% endif %}

{% if not basket.is_empty %}
	<div class="row-fluid basket-header">
    {% block basket_form_headers %}
                <h4 class="span1">{% trans "Piece" %}</h4>
                <h4 class="span1">{% trans "Brand" %}</h4>
                <h4 class="span1">{% trans "Model" %}</h4>
                <h4 class="span1">{% trans "Version" %}</h4>
                <h4 class="span1">{% trans "Bodywork" %}</h4>
                <h4 class="span2">{% trans "Engine" %}</h4>
                <h4 class="span1">{% trans "Frame reference" %}</h4>
                <h4 class="span2">{% trans "Comments" %}</h4>
		<h4 class="span2">{% trans "Quantity" %}</h4>
    {% endblock %}
	</div>

    {% block basket_form_main %}
        <form action="." method="post" class="basket_summary" id="basket_formset">
            {% csrf_token %}
            {{ formset.management_form }}

            {% for form in formset %}
                {% with line=form.instance product=form.instance.product %}
		<div class="basket-items">
			<div class="row-fluid">
                            <div class="span1">{{product.piece}}</div>
                            <div class="span1">{{product.brand.name}}</div>
                            <div class="span1">{{product.model.name}}</div>
                            <div class="span1">{{product.version.name}}</div>
                            <div class="span1">{{product.bodywork}}</div>
                            <div class="span2">{{product.engine}}</div>
                            <div class="span1">{{product.frameref}}</div>
                            <div class="span2">{{product.comments}}</div>
                            <div class="span2">{{form.id}}
                                <div class="checkout-quantity control-group {% if form.errors %}error{% endif %}" style="margin-top:0px;">
					{{ form.quantity }}
					<button class="btn" type="submit">{% trans "Update" %}</button>
                                    <p>
                                        <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove" class="inline">{% trans "Remove" %}</a>
                                        <div style="display:none">
                                            {{ form.DELETE }}
                                        </div>
                                        {% for field_errors in form.errors.values %}
                                            {% for error in field_errors %}
                                                <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                            {% endfor %}

                                        {% endfor %}
                                    </p>
                                </div>
			    </div>
			</div>
		</div>
                {% endwith %}
            {% endfor %}
</form>
    {% endblock %}

    {% block formactions %}
        <div class="form-actions clearfix">
            <div class="row-fluid">
		<div class="span4 offset4">
			<a href="{% url 'search:home' %}" class="btn btn-large btn-block">{% trans "Search new piece" %}</a>
		</div>

                <div class="span4">
                	<a href="{% url 'search:placesearchrequest' %}" class="btn btn-large btn-primary btn-block">{% trans "Submit search request" %}</a>
                </div>
            </div>

        </div>
    {% endblock formactions %}

{% else %}
    {% block emptybasket %}
        <p>
            {% trans "Your basket is empty." %}
            <a href="{{ homepage_url }}">{% trans "Continue shopping" %}</a>
        </p>
    {% endblock %}
{% endif %}

{% block savedbasket %}
    {% if request.user.is_authenticated and saved_formset %}
        <div class="well">
            <div class="sub-header">
                <h3>{% trans "To buy later" %}</h3>
            </div>
            <div class="row-fluid basket-title hidden-phone">
                <h4 class="span8">{% trans "Items" %}</h4>
                <h4 class="span2 align-center">{% trans "Price" %}</h4>
                <div class="span2">&nbsp;</div>
            </div>
            <form action="{% url 'basket:saved' %}" method="post" class="form-stacked later_summary" id="saved_basket_formset">
                {% csrf_token %}
                {{ saved_formset.management_form }}
                {% for form in saved_formset %}
                    {% purchase_info_for_product request form.instance.product as session %}
                    <div class="basket-items">
                        <div class="row-fluid">
                            <div class="span2">
                                {% with image=form.instance.product.primary_image %}
                                    {% thumbnail image.original "100x100" upscale=False as thumb %}
                                        <a href="{{ form.instance.product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ form.instance.product.get_title }}">
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="span6">
                                <h4><a href="{{ form.instance.product.get_absolute_url }}">{{ form.instance.description }}</a></h4>
                                <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
                                <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove">{% trans "Remove" %}</a>
                                <div style="display:none">
                                    {{ form.move_to_basket }}
                                    {{ form.DELETE }}
                                </div>
                            </div>
                            {% purchase_info_for_product request form.instance.product as saved %}
                            <div class="span2 align-center">
                                <p class="price_color">
                                    {% if saved.price.is_tax_known %}
                                        {{ saved.price.incl_tax|currency:saved.price.currency }}
                                    {% else %}
                                        {{ saved.price.excl_tax|currency:saved.price.currency }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="span2">
                                <a href="#" data-id="{{ forloop.counter0 }}" class="btn pull-right btn-block" data-behaviours="move">{% trans "Move to basket" %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    {% endif %}
{% endblock %}
