{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load form_tags %}


{% block body_class %}{{ block.super }} create-page catalogue{% endblock %}

{% block title %}
    {{ title }} | {% trans "Bodywork management" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'dashboard:catalogue-bodywork-list' %}">{% trans "Bodywork management" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ title }}</li>

    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <form action="{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}" method="post" class="form-stacked wysiwyg fixed-actions" enctype="multipart/form-data" data-behaviour="affix-nav-errors" autocomplete="off">
        {% csrf_token %}
        <div class="row-fluid">

            <div class="span9">
                        <div class="tab-pane {% if not bodywork %}active{% endif %}" id="bodywork_details">
                            <div class="table-header">
                                <h3>{% trans "Bodywork Details" %}</h3>
                            </div>
                            <div class="well bodywork-details">
                                    <span class="error-block">{{ form.non_field_errors }}</span>
                                        {% for field in form.hidden_fields %}
                                            {{ field }}
                                        {% endfor %}

                                        {% for field in form.visible_fields %}
                                            {% if 'attr' not in field.id_for_label %}
                                                {% comment %}
                                                    Make the field widget type available to templates so we can mark-up
                                                    checkboxes differently to other widgets.
                                                {% endcomment %}
                                                {% annotate_form_field field %}

                                                {% comment %}
                                                    We use a separate template for each field so that forms can be rendered
                                                    field-by-field easily #}
                                                {% endcomment %}
                                                {% if field.widget_type == 'CheckboxInput' %}
                                                    {% include 'partials/form_field_checkbox.html' with field=field %}
                                                {% else %}
                                                    {% include 'partials/form_field.html' with field=field %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}

                            </div>
                        </div>
            </div>
        </div>

        {% block fixed_actions_group %}
            <div class="fixed-actions-group">
                <div class="form-actions">
                    <div class="pull-right">
                        <a href="{% url 'dashboard:catalogue-bodywork-list' %}">{% trans "Cancel" %}</a>
                        {% trans "or" %}
                        <button class="btn btn-secondary btn-large" name="action" type="submit" value="continue">{% trans "Save and continue editing" %}</button>
                        <button class="btn btn-primary btn-large" name="action" type="submit" value="save">{% trans "Save" %}</button>
                    </div>
                </div>
            </div>
        {% endblock fixed_actions_group %}
    </form>
{% endblock dashboard_content %}
