{% extends 'dashboard/layout.html' %}

{% load i18n %}

{% block title %}
    {% blocktrans with title=brand.name %}
        Delete {{ title}}?
    {% endblocktrans %} |
    {{ block.super }}
{% endblock %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'dashboard:catalogue-brand-list' %}">{% trans "Brand management" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'dashboard:catalogue-brand' pk=brand.pk %}">{{ brand.name }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans "Delete?" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{% trans "Delete brand?" %}</h1>
    </div>
{% endblock header%}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{% trans "Delete brand" %}</h2>
    </div>
    <form action="." method="post" class="well">
        {% csrf_token %}

        {% blocktrans with title=brand.name %}
            <p>Delete brand <strong>{{ title }}</strong> - are you sure?</p>
        {% endblocktrans %}

        <div class="form-actions">
            <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
            {% trans "or" %}
            <a href="{% url 'dashboard:catalogue-brand-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock %}
