{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load currency_filters %}

{% block body_class %}{{ block.super }} orders{% endblock %}

{% block title %}
    {% blocktrans with number=searchrequest.id %}Search request {{ number }}{% endblocktrans %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'dashboard:order-searchrequest-list' %}">{% trans "Search requests" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">#{{ searchrequest.id }}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% blocktrans with number=searchrequest.id %}Search request #{{ number }}{% endblocktrans %}
{% endblock  %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered table-hover">
        <caption><i class="icon-group icon-large"></i>{% trans "Owner Information" %}</caption>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Email address" %}</th>
            </tr>
            <tr>
                <td>{{ searchrequest.owner.get_full_name|default:"-" }}</td>
                <td>{{ searchrequest.owner.email|default:"-" }}</td>
            </tr>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <caption><i class="icon-shopping-cart icon-large"></i>{% trans "Search Request information" %}</caption>
        <tr>
            <th>{% trans "Number of items" %}</th>
            <th>{% trans "Date of creation" %}</th>
            <th>{% trans "Expiration date" %}</th>
            <th>{% trans "Status" %}</th>
        </tr>
        <tr>
            <td>{{ searchrequest.num_items }}</td>
            <td>{{ searchrequest.date_created|date:"d/m/y" }}</td>
            <td>{{ searchrequest.expiration_date|date:"d/m/y" }}</td>
            <td>{% trans searchrequest.state %}</td>
        </tr>
    </table>

    <div class="sub-header">
        <h2>{% trans "Search request Details" %}</h2>
    </div>

    <div class="tabbable dashboard">

        <ul class="nav nav-tabs">
            {% block nav_tabs %}
                <li class="{% if active_tab == 'detail' %}active{% endif %}"><a href="#detail" data-toggle="tab">{% trans "Details" %}</a></li>
                <li class="{% if active_tab == 'lines' %}active{% endif %}"><a href="#lines" data-toggle="tab">{% trans "Search request items" %}</a></li>
            {% endblock nav_tabs %}
        </ul>

        <div class="tab-content">
            <div class="tab-pane {% if active_tab == 'lines' %}active{% endif %}" id="lines">
                <div class="table-header">
                    <h3>{% trans "Search request items" %}</h3>
                </div>
                    {% block searchrequest_items %}
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans "Quantity" %}</th>
                                    <th>{% trans "Category" %}</th>
                                    <th>{% trans "Piece" %}</th>
                                    <th>{% trans "Comments" %}</th>
                                    <th>{% trans "Answers" %}</th>
                                    <th>{% trans "Picture" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for line in searchrequest.lines.all %}
                                    <tr>
                                        <td>{{ line.quantity }}</td>
                                        <td>
                                            {% if line.category %}
                                                <a href="{% url 'dashboard:catalogue-category-detail-list' pk=line.category.id %}">{{ line.category }}</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if line.piece %}
                                                <a href="{% url 'dashboard:catalogue-product' pk=line.piece.id %}">{{ line.piece }}</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ line.comments }}</td>
					<td><ul>
						{% for answer in line.answers %}
						<li>{{answer.question.text}}:
						{% if answer.question.type == 'text' %}
						{{answer.text_answer}}
						{% else %}
							{% if answer.boolean_answer == True %}
								{% trans "Yes" %}
							{% else %}
								{% trans "No" %}
							{% endif %}
						{% endif %}</li>
						{% endfor %}
					</td>
					<td>{% if line.picture %}<img src="/media/{{ line.picture }}" style="height:50px;" />{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endblock searchrequest_items %}
            </div>

            <div class="tab-pane {% if active_tab == 'detail' %}active{% endif %}" id="detail">
                {% block tab_details %}
                    <div class="table-header">
                        <h3>{% trans "Details" %}</h3>
                    </div>

                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th>{% trans "Brand" %}</th>
                                <td>{{ searchrequest.brand.name }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Model" %}</th>
                                <td>{{ searchrequest.model.name }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Version" %}</th>
                                <td>{{ searchrequest.version.name }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Bodywork" %}</th>
                                <td>{{ searchrequest.bodywork }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Engine" %}</th>
                                <td>{{ searchrequest.engine }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Frame reference" %}</th>
                                <td>{{ searchrequest.frameref }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Comments" %}</th>
                                <td>{{ searchrequest.comments }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endblock %}
            </div>

            {% block extra_tabs %}{% endblock %}
        </div>
    </div>
{% endblock dashboard_content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.dashboard.orders.initTabs();
    oscar.dashboard.orders.initTable();
{% endblock %}
